@model BilijarKlub.Models.ZakazivanjeViewModel
@{
    var pocetakTermina = Model.Rezervacija.PocetakTermina?.ToString("yyyy-MM-ddTHH:mm");
    var krajTermina = Model.Rezervacija.KrajTermina?.ToString("yyyy-MM-ddTHH:mm");

    if (Model.Rezervacija.ValidationRulesMessages != null && Model.Rezervacija.ValidationRulesMessages.Count() > 0)
    {
        <table>
            @foreach (var errorMessage in Model.Rezervacija.ValidationRulesMessages)
            {
                <tr>
                    <td>@errorMessage</td>
                </tr>
            }
        </table>
    }
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <select id="stoSelect" style="margin: 5px" onchange="SetElementsVisibility();" name="@Html.NameFor(m => m.Rezervacija.StoId)">
        <option value="-1">Izabrati sto</option>
        @foreach (var sto in Model.Stolovi)
        {
            string selected = string.Empty;
            if (Model.Rezervacija.StoId != -1)
            {
                if (Model.Rezervacija.StoId == sto.Id)
                {
                    selected = "selected";
                }
            }

            <option value="@sto.Id" @selected>@sto.Naziv</option>
        }
    </select>
    <table hidden>
        @foreach (var item in Model.Stolovi)
        {
            <tr>
                <td>
                    <input type="text" name="@item.Id" value="@item.Id" />
                </td>
            </tr>
        }
    </table>
    @Html.ValidationMessageFor(m => m.Rezervacija.StoId, "", new { @class = "text-danger" })

    <div class="form-group">
        <label id="pocetakTerminaLabel">Pocetak termina:</label>
        <input name="@Html.NameFor(m => m.Rezervacija.PocetakTermina)" id="datetimepicker" type="datetime-local" value="@pocetakTermina">

        @Html.ValidationMessageFor(m => m.Rezervacija.PocetakTermina, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label id="krajTerminaLabel">Kraj termina:</label>
        <input name="@Html.NameFor(m => m.Rezervacija.KrajTermina)" id="krajTerminaInput" type="datetime-local" value="@krajTermina">
        @Html.ValidationMessageFor(m => m.Rezervacija.KrajTermina, "", new { @class = "text-danger" })
    </div>

    if (Model.Rezervacija.ValidationRulesMessages != null && Model.Rezervacija.ValidationRulesMessages.Count() > 0)
    {
        <table>
            @foreach (var errorMessage in Model.Rezervacija.ValidationRulesMessages)
            {
                <tr>
                    <td style="color: red">@errorMessage</td>
                </tr>
            }
        </table>
        <br>
    }

    <button type="submit" id="submitButton">Sacuvaj</button>
    <button id="callSignalButton" hidden></button>
    <ul id="testLabel"></ul>
}

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/termini.js"></script>
}

